.input_container{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dropdown{
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
}